# Ignorar archivos de documentos
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.zip
*.txt
*.csv
*.rtf
*.odt
*.ods
*.odp
*.odg
*.odc
*.odf
*.odb
*.odm
*.odp
*.odt
*.ott
*.ots
*.otp
*.otg
*.otc
*.otf
*.oti
*.odm
*.ott
*.ots
*.otp
*.otg
*.otc
*.otf
*.oti
*.oth
*.odt
*.ott
*.ots
*.otp
