.bienvenida {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }


.testimonios {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  &__quote {
    font-style: italic;
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
