.user-data {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.user-info {
    color: #007bff; // Cambia este color según tu preferencia
    font-weight: bold;
    margin: 5px 0;
}

.error {
    color: red;
    font-size: 1rem;
    margin-bottom: 5px;
    font-style: italic;
}
