.contacto {
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 500px;
      margin: auto;
    }
  
    input, textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    button {
      @extend .button;
    }
  }
  