// layout/_header.scss
@use '../abstracts/index' as *;
@use 'sass:color';

.header {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 40px;
  }

  &__nav {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: color.adjust(white, $lightness: -15%);
    }
  }

  &__button {
    margin-left: auto;
    @include button-style($secondary-color, color.adjust($secondary-color, $lightness: -10%));
  }
}
